{% extends 'base.html.twig' %}

{% block title %}
    Nos Tarifs - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="og:site_name" content="" />
{% endblock %}

{% block body %}
    <section class="container__large border--bottom border-stroke-light">
        <div class="container">
            <h1>Nos tarifs</h1>
        </div>
    </section>
    <section class="container__large border--bottom border-stroke-light">
        <div class="container container__scroll pt--11 pb--11 flex row align--center justify--center justify--start-mobile gap--5">
            <filter-react data-id="logo" data-content="Branding & Logo"></filter-react>
            <filter-react data-id="website" data-content="Webdesign & Développement"></filter-react>
        </div>
    </section>
    <section class="container__large border--bottom border-stroke-light flex col align--center justify--center">
        <article class="container logo flex col">
            <div class="grid grid--4 grid--3-mobile grid-gap--2 text__m text-center p--5 border--bottom border-stroke-light">
                <div class="hide-mobile"></div>
                <div class="flex col gap--1">
                    <h3 class="hide-mobile">Starter</h3>
                    <h3 class="display-mobile text__l">Starter</h3>
                    <p class="text__s">à partir de 1200 €*</p>
                </div>
                <div class="flex col gap--1">
                    <h3 class="hide-mobile">Avancé</h3>
                    <h3 class="display-mobile text__l">Avancé</h3>
                    <p class="text__s">à partir de 2000 €*</p>
                </div>
                <div class="flex col gap--1">
                    <h3 class="hide-mobile">Pro</h3>
                    <h3 class="display-mobile text__l">Pro</h3>
                    <p class="text__s">à partir de 3500 €*</p>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Brainstorm & Workshop
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Brainstorm & Workshop
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Moodboards
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Moodboards
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Logo Concepts & Retours
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Logo Concepts & Retours
                </div>
                <div class="text__s">
                    3
                </div>
                <div class="text__s">
                    3
                </div>
                <div class="text__s">
                    4
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Formats PNG, EPS, SVG
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Formats PNG, EPS, SVG
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Palette de Couleurs
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Palette de Couleurs
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Charte graphique
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Charte graphique
                </div>
                <div class="text__s">
                    1 page
                </div>
                <div class="text__s">
                    15-20 pages
                </div>
                <div class="text__s">
                    30-40 pages
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Carte de visite
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Carte de visite
                </div>
                <div></div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Template Réseaux Sociaux
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Template Réseaux Sociaux
                </div>
                <div></div>
                <div></div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Pitchdeck
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Pitchdeck
                </div>
                <div></div>
                <div></div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
        </article>
        <article class="container website flex col">
            <div class="grid grid--4 grid--3-mobile grid-gap--2 text__m text-center p--5 border--bottom border-stroke-light">
                <div class="hide-mobile"></div>
                <div>
                    <h3 class="hide-mobile">Basique</h3>
                    <h3 class="display-mobile text__l">Basique</h3>
                    <p class="text__s">à partir de 2400 €*</p>
                </div>
                <div>
                    <h3 class="hide-mobile">Avancé</h3>
                    <h3 class="display-mobile text__l">Avancé</h3>
                    <p class="text__s">à partir de 3600 €*</p>
                </div>
                <div>
                    <h3 class="hide-mobile">Commerce</h3>
                    <h3 class="display-mobile text__l">Commerce</h3>
                    <p class="text__s">à partir de 6000 €*</p>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Complexité du design
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Complexité du design
                </div>
                <div>
                    Simple
                </div>
                <div>
                    Moyenne
                </div>
                <div>
                    Haute
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Complexité des animations
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Complexité des animations
                </div>
                <div>
                    Simple
                </div>
                <div>
                    Moyenne
                </div>
                <div>
                    Haute
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    UX/UI Design
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    UX/UI Design
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Responsive
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Responsive
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    SEO & Optimisation
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    SEO & Optimisation
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Support & Formation
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Support & Formation
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Analytics
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Analytics
                </div>
                <div></div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Configuration E-Commerce
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Configuration E-Commerce
                </div>
                <div></div>
                <div></div>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.833 4C13.4985 3.9999 15.1272 4.48907 16.5171 5.40675C17.9069 6.32443 18.9965 7.63017 19.6506 9.16181C20.3046 10.6935 20.4943 12.3835 20.1961 14.022C19.8979 15.6606 19.1249 17.1754 17.9731 18.3784C16.8213 19.5813 15.3415 20.4194 13.7175 20.7886C12.0935 21.1577 10.3968 21.0416 8.83818 20.4547C7.27956 19.8679 5.92769 18.836 4.95049 17.4874C3.97328 16.1388 3.41379 14.5328 3.34151 12.8689L3.33301 12.5L3.34151 12.1311C3.43657 9.94278 4.37274 7.87562 5.95479 6.36072C7.53683 4.84582 9.64262 4.00013 11.833 4Z"/>
                    </svg>
                </div>
            </div>
            <div class="display-mobile text__m grid grid--1 grid-prices border--bottom border-dashed border-stroke-light">
                <div>
                    Maintenance
                </div>
            </div>
            <div class="grid grid-prices grid--4 grid--3-mobile text__s text-center border--bottom border-stroke-light">
                <div class="text-left hide-mobile">
                    Maintenance
                </div>
                <div>
                    En option
                </div>
                <div>
                    En option
                </div>
                <div>
                    En option
                </div>
            </div>
        </article>
    </section>
    <section class="container flex row col-mobile gap--6">
        <div class="w--40 w-100-mobile">
            <p class="text__l">
                Votre devis sur mesure
            </p>
        </div>
        <div class="w--60 w-100-mobile">
            <p class="text__s primary-grey">
                *Bien que nous proposions une grille tarifaire de départ pour nos services, il est important de noter
                que chaque projet est unique et peut nécessiter des besoins spécifiques. Nos tarifs de départ
                fournissent une estimation générale, mais pour obtenir un devis précis et adapté à votre projet, nous
                vous invitons à nous contacter directement.
            </p>
        </div>
    </section>
    <section class="container__large secondary-beige--bg">
        <div class="container flex col align--center justify--center gap--11 text-center">
            <h2 class="w--70 w-100-mobile">
                Vous souhaitez recevoir un devis sur mesure ?
            </h2>
            <button-react data-href="" data-content="Répondez à ces quelques questions"></button-react>
        </div>
    </section>
{% endblock %}


