{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container__large primary-light primary-dark--bg"
         style="background-image: url('{{ asset('build/images/uploads/studio-1.jpg') }}'); background-position: center; background-size: cover">
        <div class="container container__top flex col gap--16 gap-large-mobile align--start justify--start">
            <h1>Seen Creative Content</h1>
            <div class="w--60 w-100-mobile flex col align--start gap--11 align--self-end">
                <p>
                    Kassia Melo est une photographe qui s’inspire de la nature et de ses voyages pour révéler des images
                    qui reflètent le désir d'aventure et la quête d'expression personnelle. Nous avons conçu un
                    prototype de site web pour mettre en valeur ses photographies sous la forme d’un portfolio.
                </p>
                <link-react data-border="1" data-color="light" data-href="#"
                            data-content="Scroll pour découvrir"></link-react>
            </div>
        </div>
    </div>
    <div class="container flex row col-mobile gap-small-mobile">
        <div class="flex col gap--11 text__l w--40 w-100-mobile">
            <span>Résumé du projet</span>
            <div class="flex col gap--2">
                <tag-react data-content="Identité visuelle"></tag-react>
                <tag-react data-content="Identité visuelle"></tag-react>
                <tag-react data-content="Identité visuelle"></tag-react>
            </div>
        </div>
        <div class="w--60 w-100-mobile flex col align--start justify--start gap--11">
            <h3>
                Un portfolio web pour mettre en valeur les photographies.
            </h3>
            <p class="w--80 w-100-mobile primary-grey text__m">
                Chez Studio Khi, nous estimons que chaque projet est bien plus qu'une simple création ; c'est une
                opportunité d'établir une présence en ligne distinctive et mémorable. Nous croyons en la puissance du
                design sur mesure pour façonner des expériences numériques uniques qui captivent les utilisateurs et
                amplifient la valeur de votre marque. Dans un marché concurrentiel où chaque détail compte, le design
                n'est plus juste une option, mais une nécessité pour se démarquer.
                <br><br>
                Nous créons des sites internet et des designs sur mesure, avec comme ligne de mire de vous offrir des
                outils à la fois créatifs, intuitifs et performants.
            </p>
            <div class="flex col align--start justify--start border--top border-stroke-light w--100">
                <div class="flex row align--center justify--space-between pt--3 pb--3 border--bottom border-stroke-light w--100">
                    <p class="text__m">Catégorie</p>
                    <p class="text__m">Tech</p>
                </div>
                <div class="flex row align--center justify--space-between pt--3 pb--3 border--bottom border-stroke-light w--100">
                    <p class="text__m">Type</p>
                    <p class="text__m">Rebranding</p>
                </div>
                <div class="flex row align--center justify--space-between pt--3 pb--3 border--bottom border-stroke-light w--100">
                    <p class="text__m">Date</p>
                    <p class="text__m">2023</p>
                </div>
            </div>
            <button-react data-href="" data-content="Voir le site"></button-react>
        </div>
    </div>
    <div class="container">
        <div class="flex col gap--2">
            <img class="w-100 border-rounded" src="{{ asset('build/images/uploads/project.png') }}" alt="">
        </div>
    </div>
    <div class="container flex col gap--16 gap-large-mobile align--start justify--center">
        <div class="flex row col-mobile gap-small-mobile w--100">
            <p class="text__l w--40 w-100-mobile">
                Découvrir un autre projet
            </p>
            <div class="w--60 w-100-mobile flex col align--start justify--start gap--11">
                <h3>
                    Envie d’en voir plus ?
                </h3>
            </div>
        </div>
        <div class="grid grid--2 grid-gap--5 row grid--1-mobile">
            <div class="flex col gap--5">
                <div class="relative">
                    <img class="home__img home__img-post" src="{{ asset('build/images/uploads/case-studies.png') }}"
                         alt="">
                    <div class="absolute pos-t--4 pos-l--4 flex row col-mobile gap--2">
                        <tag-react data-color="blue" data-content="Design Digital"></tag-react>
                        <tag-react data-color="violet" data-content="Design Digital"></tag-react>
                    </div>
                </div>
                <div class="flex col gap--3">
                    <p class="text__l">
                        Nom du projet
                    </p>
                    <div class="flex col align--start justify--start gap--11">
                        <p class="primary-grey text__m">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex col gap--5">
                <div class="relative">
                    <img class="home__img home__img-post" src="{{ asset('build/images/uploads/case-studies.png') }}"
                         alt="">
                    <div class="absolute pos-t--4 pos-l--4 flex row col-mobile gap--2">
                        <tag-react data-color="blue" data-content="Design Digital"></tag-react>
                        <tag-react data-color="violet" data-content="Design Digital"></tag-react>
                    </div>
                </div>
                <div class="flex col gap--3">
                    <p class="text__l">
                        Nom du projet
                    </p>
                    <div class="flex col align--start justify--start gap--11">
                        <p class="primary-grey text__m">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



