* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

section {
    width: 100%;
    max-width: 1440px;
}

a {
    color: unset;
    text-decoration: none;
}

.favicon {
    width: 1.92325rem;
    height: 1.92325rem;
}

.logo-inline {
    width: 50.27931rem;
    height: 6.25rem;
    fill: var(--primary-dark);
}

.logo-square {
    width: 15.625rem;
    height: 15.625rem;
    fill: var(--primary-dark);
}