:root {
    --main-padding-h: 4.38rem;
    --main-padding-v: 6.25rem;
    --nav-padding-v: 2rem;
    --dropdown-padding-v: 7.81em;
    --max-width: 1440px;
    --hover-duration: .3s;
    --dropdown-duration: .8s;
    --dropdown-cubic: cubic-bezier(.8,.21,.39,.95);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary-dark);
    color: var(--primary-dark);
}

main {
    position: relative;
    z-index: 3;
    background-color: var(--primary-light);
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: filter var(--dropdown-duration) var(--dropdown-cubic);
}

section {
    width: 100%;
}

a {
    color: unset;
    text-decoration: none;
}

.favicon {
    width: 1.92325rem;
    height: 1.92325rem;
}

.logo-inline {
    width: 50.27931rem;
    height: 6.25rem;
    fill: var(--primary-dark);
}

.logo-square {
    width: 15.625rem;
    height: 15.625rem;
    fill: var(--primary-dark);
}