p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 150%;
    letter-spacing: 0;
    margin: 0;
}

.text {
    line-height: 140%;
    letter-spacing: 0;
    &__s {
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 0;
    }
    &__m {
        font-size: 1.1875rem;
        line-height: 150%;
        letter-spacing: -3%;
    }
    &__l {
        font-size: 1.625rem;
        line-height: 150%;
        letter-spacing: -3%;
    }
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.underline {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
.overline {
    text-decoration: overline;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

@media screen and (max-width: 1080px) {
    .text {
        &__s {
            font-size: 0.875rem;
        }
        &__m {
            font-size: 1rem;
        }
        &__l {
            font-size: 1.25rem;
        }
    }
    .text-center-mobile {
        text-align: center;
    }
    .text-left-mobile {
        text-align: left;
    }
    .text-right-mobile {
        text-align: right;
    }
}