.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--stroke-light);
    transition: border var(--dropdown-duration) var(--dropdown-cubic), transform var(--dropdown-duration) ease;
    z-index: 5;
    &__nav {
        width: 100%;
        max-width: var(--max-width);
        padding: var(--nav-padding-v) var(--main-padding-h);
        z-index: 5;
        transition: padding var(--dropdown-duration) var(--dropdown-cubic);
    }
    &__logo {
        width: 12.875rem;
        height: 2.9375rem;
        fill: var(--primary-dark);
        transition: fill var(--dropdown-duration) var(--dropdown-cubic);
    }
    &__gap {
        height: 115px;
        background-color: var(--primary-light);
    }
    &__icon {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .header {
        &__logo {
            width: 10.3725rem;
            height: 1.28938rem;
            fill: var(--primary-dark);
            transition: fill var(--dropdown-duration) var(--dropdown-cubic);
        }
        &__gap {
            height: 89px;
        }
        &__icon {
            display: block;
            fill: var(--primary-dark);
        }
    }
}