.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    transition: border var(--dropdown-duration) var(--dropdown-cubic), transform var(--dropdown-duration) ease, top 1.4s ease;
    z-index: 10;
    mix-blend-mode: difference;
    filter: invert(100);
    &__nav {
        width: 100%;
        max-width: var(--max-width);
        padding: var(--nav-padding-v) var(--main-padding-h);
        transition: padding var(--dropdown-duration) var(--dropdown-cubic);
    }
    &__logo {
        width: 12.875vw;
        height: 2.9375vw;
        fill: var(--primary-dark);
        transition: fill var(--dropdown-duration) var(--dropdown-cubic);
    }
    &__gap {
        width: 100%;
        height: 115px;
        background-color: var(--primary-light);
    }
    &__icon {
        display: none;
    }
}

.spacer {
    height: 100vh;
    z-index: -5;
}

@media screen and (max-width: 1440px) {
    .header {
        &__logo {
            width: 10.3725rem;
            height: 1.28938rem;
        }
        &__gap {
            height: 89px;
        }
    }
}

@media screen and (max-width: 870px) {
    .header {
        &__logo {
            width: 10.3725rem;
            height: 1.28938rem;
        }
        &__gap {
            height: 89px;
        }
    }
}

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 834px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}