.alert {
    padding: 1em;
    margin: 1em;
    border-bottom: 2px solid;
    &__info {
        border-color: var(--info);
    }
    &__success {
        border-color: var(--success);
    }
    &__danger {
        border-color: var(--danger);
    }
}