.alert {
    padding: 1em;
    margin: 1em;
    border-bottom: 2px solid;
    &-info {
        border-color: var(--info);
    }
    &-success {
        border-color: var(--success);
    }
    &-danger {
        border-color: var(--danger);
    }
}