.alert {
    padding: 1em 2em;
    margin: 1em;
    border-bottom: 2px solid;
    position: fixed;
    top: 120px;
    right: 30px;
    z-index: 10;
    background-color: var(--primary-light);
    &__info {
        border-color: var(--info);
    }
    &__success {
        border-color: var(--success);
    }
    &__danger {
        border-color: var(--danger);
    }
}

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 834px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}