card {
    border: 1px solid var(--primary-dark);
    width: 25vw;
    height: auto;
    border-radius: 1rem;
    white-space: normal;
    padding: 3vw;
}

.star {
    fill: var(--primary-dark);
    width: 12px;
    height: 12px;
}

@media screen and (max-width: 1080px) {
    card {
        width: 350px;
        height: 420px;
        padding: 30px;
    }
}