card {
    border: 1px solid var(--primary-dark);
    width: 25vw;
    height: auto;
    border-radius: 1rem;
    white-space: normal;
    padding: 3vw;
}

.star {
    fill: var(--primary-dark);
    width: 12px;
    height: 12px;
}

@media screen and (max-width: 1440px) {
    card {
        width: 30vw;
        height: auto;
    }
}

@media screen and (max-width: 870px) {
    card {
        width: 350px;
        height: auto;
        padding: 30px;
    }
}

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 834px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}