$duration: var(--hover-duration);

.filter {
    color: var(--primary-dark);
    background-color: var(--primary-light);
    text-align: center;
    border-radius: 0.375rem;
    border: 1px solid var(--primary-dark);

    font-family: "Inter", sans-serif;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.03563rem;

    padding: 0.31rem 0.63rem;

    cursor: pointer;
    width: fit-content;
    transition: background-color $duration, color $duration, border $duration;
    &--active {
        color: var(--primary-light);
        background-color: var(--primary-dark);
    }
}