.icon {
    height: 0.875rem;
    fill: var(--primary-light);
    transition: fill .3s;
    &--primary-dark {
        fill: var(--primary-dark);
    }
    &--primary-light {
        fill: var(--primary-light);
    }
    &--primary-grey {
        fill: var(--primary-grey);
    }
    &--stroke-dark {
        fill: var(--stroke-dark);
    }
    &--stroke-light {
        fill: var(--stroke-light);
    }
}

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 834px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}

