.tag {
    color: var(--primary-dark);
    background-color: transparent;
    text-align: center;
    border-radius: 0.375rem;
    border: 1px solid var(--primary-dark);
    white-space: nowrap;

    font-size: var(--text-m);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.03563vw;

    padding: calc(var(--text-m) / 4) calc(var(--text-m) / 2);

    width: fit-content;
    user-select: none;
    &__green {
        border: none;
        background-color: var(--secondary-green);
    }
    &__blue {
        border: none;
        background-color: var(--secondary-blue);
    }
    &__violet {
        border: none;
        background-color: var(--secondary-violet);
    }
    &__beige {
        border: none;
        background-color: var(--secondary-beige);
    }
}

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 834px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}