.grid {
    display: grid;
    @for $i from 1 through 6 {
        &--#{$i} {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}

@media screen and (max-width: 1080px) {
    .grid-1-mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}