.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

$pos: ("t": top, "b": bottom, "l": left, "r": right);
$scale: 5;

.pos- {
    @each $key, $p in $pos {
        &#{$key} {
            @for $i from 0 through 20 {
                $s: 0;
                @if $i == 0 { $s: 0 } @else {$s: #{$i * $scale}px}
                &--#{$i} {
                    #{$p}: #{$s}
                }
            }
        }
    }
}

.pos-t-100 {
    top: 100%
}

.pos-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 834px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}