.box-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.menu__item {
  color: var(--primary-dark);
  background-color: unset;
  text-align: center;
  border-bottom: 1px solid transparent;
  border-radius: unset;
  font-family: "Inter", sans-serif;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.03563rem;
  padding: 0.31rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8.4375rem;
  width: fit-content;
  transition: background-color var(--hover-duration), color var(--dropdown-duration) var(--dropdown-cubic), border var(--hover-duration);
}
.menu__item:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--primary-dark);
}
.menu__item--active {
  border-bottom: 1px solid var(--primary-dark);
}
.menu__item__light {
  color: var(--primary-light);
}
.menu__item__light:hover {
  border-bottom: 1px solid var(--primary-light);
}
.menu__item__light--active {
  border-bottom: 1px solid var(--primary-light);
}
.menu__item__mobile {
  border-bottom: 1px solid var(--stroke-dark);
  padding: 0.75rem var(--main-padding-h);
  font-size: 1.25rem;
}

.dropdown {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100.1%;
  backdrop-filter: blur(10px);
  z-index: 4;
  background-color: var(--primary-dark);
  transition: transform var(--dropdown-duration) var(--dropdown-cubic);
}
.dropdown__menu {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--dropdown-padding-v) var(--main-padding-h);
  z-index: 0;
}

.dropdown-mobile {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100.1%;
  color: var(--primary-light);
  backdrop-filter: blur(10px);
  z-index: 4;
  background-color: var(--primary-dark);
  transition: transform var(--dropdown-duration) var(--dropdown-cubic);
  padding-bottom: var(--main-padding-v);
}
.dropdown-mobile__menu {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--dropdown-padding-v) var(--main-padding-h);
  z-index: 0;
}
.dropdown-mobile__display {
  transform: translate(-50%, 0);
}

.plus__icon {
  cursor: pointer;
  width: 1.125rem;
  height: 1.125rem;
  transition: transform var(--dropdown-duration) var(--dropdown-cubic), fill var(--dropdown-duration) var(--dropdown-cubic);
}

.menu__icon {
  fill: var(--primary-light);
}

#dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--dropdown-duration) var(--dropdown-cubic);
}

.icon {
  height: 0.875rem;
  fill: var(--primary-light);
  transition: fill 0.3s;
}
.icon--primary-dark {
  fill: var(--primary-dark);
}
.icon--primary-light {
  fill: var(--primary-light);
}
.icon--primary-grey {
  fill: var(--primary-grey);
}
.icon--stroke-dark {
  fill: var(--stroke-dark);
}
.icon--stroke-light {
  fill: var(--stroke-light);
}

.form-input, .form-textarea, .form-select {
  padding: 0.75rem;
  border: 1px solid var(--stroke-light);
  color: var(--primary-dark);
  background-color: var(--primary-light);
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
  font-family: "Inter", sans-serif;
  border-radius: 0.375rem;
}

input[type=file] {
  display: none;
}

.form-file {
  cursor: pointer;
}

textarea {
  resize: vertical;
  width: 100%;
}

.form-check, .form-toggle {
  position: relative;
}

.form-check input, .form-toggle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-check label, .form-toggle label {
  display: grid;
  grid-template-areas: "checkbox label";
  gap: 0.7em;
  width: fit-content;
  cursor: pointer;
}

.form-check label, .form-toggle label {
  grid-template-columns: 1em 1fr;
}

.form-check label::before, .form-toggle label::before, .form-check label::after, .form-toggle label::after {
  content: "";
  grid-area: checkbox;
  display: block;
  margin-top: 0.1em;
}

.form-check label::before {
  width: 1em;
  height: 1em;
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-light);
  transition: background-color 0.3s, border 0.3s;
}

.form-check input:checked + label::before {
  content: "";
  color: var(--light);
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.form-check input:checked + label::after {
  content: "";
  grid-area: checkbox;
  display: inline-block;
  transform: rotate(45deg) translate(0.3em, -0.2em);
  height: 0.6em;
  width: 0.3em;
  border-bottom: var(--primary-light) solid 2px;
  border-right: var(--primary-light) solid 2px;
}

.form-toggle label {
  grid-template-columns: 2em 1fr;
}

.form-toggle label::before {
  width: 2em;
  height: 1em;
  border: 1px solid var(--stroke-light);
  border-radius: 1em;
  background-color: var(--primary-light);
  transition: background-color 0.3s, border 0.3s;
}

.form-toggle label::after {
  position: relative;
  left: 2px;
  top: 2px;
  width: calc(1em - 2px);
  height: calc(1em - 2px);
  border: none;
  border-radius: 50%;
  background-color: var(--stroke-light);
  transition: background-color 0.3s, transform 0.3s;
}

.form-toggle input:checked + label::before {
  content: "";
  color: var(--light);
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.form-toggle input:checked + label::after {
  transform: translateX(1em);
  background-color: var(--primary-light);
}

.form-input:focus, .form-textarea:focus, .form-check input:focus + label::before, .form-toggle input:focus + label::before {
  box-shadow: 0 0 0.1em 0.02em var(--primary-dark);
  outline: none;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1875rem;
  line-height: 150%;
  letter-spacing: -3%;
}

.errors {
  font-size: 14px;
  color: var(--danger);
}
.errors > ul {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 350px;
}

card {
  border: 1px solid var(--primary-dark);
  width: 412px;
  height: 450px;
  border-radius: 1rem;
  white-space: wrap;
  padding: 55px;
}

.star {
  fill: var(--primary-dark);
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 1080px) {
  card {
    width: 350px;
    height: 420px;
    padding: 30px;
  }
}
.alert {
  padding: 1em 2em;
  margin: 1em;
  border-bottom: 2px solid;
  position: fixed;
  top: 120px;
  right: 30px;
  z-index: 10;
  background-color: var(--primary-light);
}
.alert__info {
  border-color: var(--info);
}
.alert__success {
  border-color: var(--success);
}
.alert__danger {
  border-color: var(--danger);
}

.filter {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  text-align: center;
  border-radius: 0.375rem;
  border: 1px solid var(--primary-dark);
  font-family: "Inter", sans-serif;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.03563rem;
  padding: 0.31rem 0.63rem;
  cursor: pointer;
  width: fit-content;
  transition: background-color var(--hover-duration), color var(--hover-duration), border var(--hover-duration);
}
.filter--active {
  color: var(--primary-light);
  background-color: var(--primary-dark);
}

.tag {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  text-align: center;
  border-radius: 0.375rem;
  border: 1px solid var(--primary-dark);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.03563rem;
  padding: 0.31rem 0.63rem;
  width: fit-content;
  user-select: none;
}
.tag__green {
  border: none;
  background-color: var(--secondary-green);
}
.tag__blue {
  border: none;
  background-color: var(--secondary-blue);
}
.tag__violet {
  border: none;
  background-color: var(--secondary-violet);
}
.tag__beige {
  border: none;
  background-color: var(--secondary-beige);
}

.btn {
  color: var(--primary-light);
  background-color: var(--primary-dark);
  text-align: center;
  border-radius: 0.375rem;
  border: 1px solid var(--primary-dark);
  font-family: "Inter", sans-serif;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.03563rem;
  padding: 0.31rem 0.63rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
  width: fit-content;
  height: fit-content;
  transition: background-color var(--hover-duration), color var(--hover-duration), border var(--hover-duration);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--primary-grey);
  border-color: var(--primary-grey);
}
.btn__icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: none;
  stroke: var(--primary-light);
  transition: stroke var(--hover-duration);
}
.btn__light {
  color: var(--primary-dark);
  background-color: var(--primary-light);
}
.btn__light:hover {
  color: var(--primary-light);
  background-color: var(--primary-dark);
}
.btn__light__icon {
  stroke: var(--primary-dark);
}
.btn__light:hover .btn__light__icon {
  stroke: var(--primary-light);
}
.btn__dark {
  color: var(--primary-light);
  background-color: var(--primary-dark);
  border-color: var(--primary-light);
}
.btn__dark:hover {
  color: var(--primary-light);
  background-color: var(--primary-grey);
  border-color: var(--primary-grey);
}
.btn__delete {
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
}
.btn__delete > button {
  border-radius: 100%;
  border: none;
  color: var(--primary-light);
  background-color: var(--danger);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}
.btn__next {
  position: absolute;
  bottom: 0.6rem;
  right: 0.2rem;
}
.btn__next > button {
  border-radius: 100%;
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  background-color: var(--primary-light);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}
.btn__prev {
  position: absolute;
  bottom: 0.6rem;
  left: 0.2rem;
}
.btn__prev > button {
  border-radius: 100%;
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  background-color: var(--primary-light);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.link {
  color: var(--primary-dark);
  background-color: unset;
  text-align: left;
  border-radius: unset;
  border-bottom: 1px solid var(--primary-dark);
  font-family: "Inter", sans-serif;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.03563rem;
  padding: 0.31rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8.4375rem;
  width: fit-content;
  transition: background-color var(--hover-duration), color var(--hover-duration), border var(--hover-duration);
}
.link__icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: none;
  stroke: var(--primary-dark);
  transition: stroke var(--hover-duration), transform var(--hover-duration);
}
.link:hover {
  cursor: pointer;
  color: var(--primary-grey);
  border-color: var(--primary-grey);
}
.link:hover .link__icon {
  stroke: var(--primary-grey);
  transform: translate(0.2rem, -0.2rem);
}
.link__light {
  color: var(--primary-light);
  border-color: var(--primary-light);
}
.link__light:hover {
  color: var(--primary-grey);
  border-color: var(--primary-grey);
}
.link__light__icon {
  stroke: var(--primary-light);
}
.link__light:hover .link__light__icon {
  stroke: var(--primary-grey);
}
.link__no-underline {
  border: none;
}

@media screen and (max-width: 870px) {
  .link {
    font-size: 1rem;
  }
}
p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
}

.text {
  line-height: 140%;
  letter-spacing: 0;
}
.text__s {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0;
}
.text__m {
  font-size: 1.1875rem;
  line-height: 150%;
  letter-spacing: -3%;
}
.text__l {
  font-size: 1.625rem;
  line-height: 150%;
  letter-spacing: -3%;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.overline {
  text-decoration: overline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

blockquote {
  border-left: 1px solid var(--primary-dark);
  margin: 0;
  padding: 0 2rem;
}
blockquote > p {
  font-size: 1.625rem;
  line-height: 150%;
  letter-spacing: -3%;
}

@media screen and (max-width: 1080px) {
  .text__s {
    font-size: 0.875rem;
  }
  .text__m {
    font-size: 1rem;
  }
  .text__l {
    font-size: 1.25rem;
  }
  .text-center-mobile {
    text-align: center;
  }
  .text-left-mobile {
    text-align: left;
  }
  .text-right-mobile {
    text-align: right;
  }
  blockquote {
    padding: 0 1.5rem;
  }
  blockquote > p {
    font-size: 1.25rem;
  }
}
:root {
  --h1: 6.125rem;
  --h2: 4.6875rem;
  --h3: 3.5rem;
  --h4: 2rem;
  --h5: 1.5rem;
  --h6: 1rem;
  --font-heading: "Overused Grotesk", sans-serif;
  --weight-heading: 400;
  --letter-spacing-heading: 0;
}

h1, .h1 {
  font-family: var(--font-heading), sans-serif;
  font-size: var(--h1);
  font-weight: var(--weight-heading);
  line-height: 95%;
  letter-spacing: var(--letter-spacing-heading);
  margin: 0;
  overflow-wrap: break-word;
}

h2, .h2 {
  font-family: var(--font-heading), sans-serif;
  font-size: var(--h2);
  font-weight: var(--weight-heading);
  line-height: 95%;
  letter-spacing: var(--letter-spacing-heading);
  margin: 0;
  overflow-wrap: break-word;
}

h3, .h3 {
  font-family: var(--font-heading), sans-serif;
  font-size: var(--h3);
  font-weight: var(--weight-heading);
  line-height: 95%;
  letter-spacing: var(--letter-spacing-heading);
  margin: 0;
  overflow-wrap: break-word;
}

h4, .h4 {
  font-family: var(--font-heading), sans-serif;
  font-size: var(--h4);
  font-weight: var(--weight-heading);
  line-height: 120%;
  letter-spacing: var(--letter-spacing-heading);
  margin: 0;
  overflow-wrap: break-word;
}

h5, .h5 {
  font-family: var(--font-heading), sans-serif;
  font-size: var(--h5);
  font-weight: var(--weight-heading);
  line-height: 120%;
  letter-spacing: var(--letter-spacing-heading);
  margin: 0;
  overflow-wrap: break-word;
}

h6, .h6 {
  font-family: var(--font-heading), sans-serif;
  font-size: var(--h6);
  font-weight: var(--weight-heading);
  line-height: 120%;
  letter-spacing: var(--letter-spacing-heading);
  margin: 0;
  overflow-wrap: break-word;
}

h1, .h1 {
  font-weight: 500;
}

@media screen and (max-width: 1080px) {
  :root {
    --h1: 3.4375rem;
    --h2: 2.8125rem;
    --h3: 2.3125rem;
    --h4: 2rem;
    --h5: 1.5rem;
    --h6: 1rem;
  }
}
@font-face {
  font-family: "Overused Grotesk";
  src: url("../fonts/overusedgrotesk-vf.ttf") format("truetype");
  font-weight: 300 900;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-vf.ttf") format("truetype");
  font-weight: 300 900;
}
.inter {
  font-family: "Inter", sans-serif;
}

.overused-grotesk {
  font-family: "Overused Grotesk", sans-serif;
}

:root {
  --primary-dark: #191919;
  --primary-light: #FFFFFF;
  --primary-grey: #808182;
  --secondary-green: #D3E0D3;
  --secondary-blue: #CDDFE6;
  --secondary-violet: #DAD6EA;
  --secondary-beige: #EAE0D6;
  --stroke-light: #E0E0E0;
  --stroke-dark: #3F3E3E;
  --info: #e0d94d;
  --success: #4de08d;
  --danger: #e04d4d;
}

.primary-dark {
  color: var(--primary-dark);
}
.primary-dark--bg {
  background-color: var(--primary-dark);
  position: relative;
  z-index: 1;
}
.primary-dark--bg::before {
  content: "";
  background-image: url("../images/background/noise.gif");
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.04;
  z-index: -1;
}

.primary-light {
  color: var(--primary-light);
}
.primary-light--bg {
  background-color: var(--primary-light);
  position: relative;
  z-index: 1;
}
.primary-light--bg::before {
  content: "";
  background-image: url("../images/background/noise.gif");
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.04;
  z-index: -1;
}

.primary-grey {
  color: var(--primary-grey);
}
.primary-grey--bg {
  background-color: var(--primary-grey);
}

.secondary-green {
  color: var(--secondary-green);
}
.secondary-green--bg {
  background-color: var(--secondary-green);
  position: relative;
  z-index: 1;
}
.secondary-green--bg::before {
  content: "";
  background-image: url("../images/background/noise.gif");
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.04;
  z-index: -1;
}

.secondary-blue {
  color: var(--secondary-blue);
}
.secondary-blue--bg {
  background-color: var(--secondary-blue);
  position: relative;
  z-index: 1;
}
.secondary-blue--bg::before {
  content: "";
  background-image: url("../images/background/noise.gif");
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.04;
  z-index: -1;
}

.secondary-violet {
  color: var(--secondary-violet);
}
.secondary-violet--bg {
  background-color: var(--secondary-violet);
  position: relative;
  z-index: 1;
}
.secondary-violet--bg::before {
  content: "";
  background-image: url("../images/background/noise.gif");
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.04;
  z-index: -1;
}

.secondary-beige {
  color: var(--secondary-beige);
}
.secondary-beige--bg {
  background-color: var(--secondary-beige);
  position: relative;
  z-index: 1;
}
.secondary-beige--bg::before {
  content: "";
  background-image: url("../images/background/noise.gif");
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.04;
  z-index: -1;
}

.stroke-light {
  color: var(--stroke-light);
}
.stroke-light--bg {
  background-color: var(--stroke-light);
}

.stroke-dark {
  color: var(--stroke-dark);
}
.stroke-dark--bg {
  background-color: var(--stroke-dark);
}

.info {
  color: var(--info);
}
.info--bg {
  background-color: var(--info);
}

.success {
  color: var(--success);
}
.success--bg {
  background-color: var(--success);
}

.danger {
  color: var(--danger);
}
.danger--bg {
  background-color: var(--danger);
}

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-dark);
  z-index: 15;
  transform: translate(0, 0);
  transition: transform 0.6s cubic-bezier(0.49, 0.17, 0, 0.87);
}
.preloader__remove {
  transform: translate(0, -100%);
}
.preloader__icon {
  transform: translate(20%, -20%);
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.49, 0.17, 0, 0.87), transform 0.6s cubic-bezier(0.49, 0.17, 0, 0.87);
}
.preloader__icon-active {
  transform: translate(0, 0);
  opacity: 1;
}
.preloader__text {
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.49, 0.17, 0, 0.87);
}
.preloader__text-active {
  opacity: 1;
}

.footer {
  /*    position: fixed;
      top: 0;
      left: 0;
      z-index: 0;*/
  width: 100%;
  height: auto;
  min-height: 700px;
  transition: filter var(--dropdown-duration) var(--dropdown-cubic);
  /*    overflow-y: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
          display: none;
      }*/
}
.footer__container {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--main-padding-v) var(--main-padding-h);
}
.footer__logo {
  width: 21.875rem;
  height: 21.875rem;
  padding: 1.4rem 3.54988rem 1.38656rem 3.5875rem;
  fill: var(--primary-light);
}
.footer__logo-mobile {
  width: 10.8125rem;
  height: 14rem;
  padding: 0;
  fill: var(--primary-light);
}
.footer__gap {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background-color: transparent;
}

@media screen and (max-width: 1080px) {
  .footer {
    position: unset;
    top: unset;
    left: unset;
    scrollbar-width: unset;
    height: auto;
  }
  .footer::-webkit-scrollbar {
    display: unset;
  }
  .footer__gap {
    display: none;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  border-bottom: 1px solid var(--stroke-light);
  transition: border var(--dropdown-duration) var(--dropdown-cubic), transform var(--dropdown-duration) ease;
  z-index: 5;
}
.header__nav {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--nav-padding-v) var(--main-padding-h);
  z-index: 5;
  transition: padding var(--dropdown-duration) var(--dropdown-cubic);
}
.header__logo {
  width: 12.875rem;
  height: 2.9375rem;
  fill: var(--primary-dark);
  transition: fill var(--dropdown-duration) var(--dropdown-cubic);
}
.header__gap {
  height: 115px;
  background-color: var(--primary-light);
}
.header__icon {
  display: none;
}

@media screen and (max-width: 1080px) {
  .header__logo {
    width: 10.3725rem;
    height: 1.28938rem;
    fill: var(--primary-dark);
    transition: fill var(--dropdown-duration) var(--dropdown-cubic);
  }
  .header__gap {
    height: 89px;
  }
  .header__icon {
    display: block;
    fill: var(--primary-dark);
  }
}
.faq__icon {
  fill: var(--primary-grey);
}
.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.studio__img {
  border-radius: 1rem;
  width: 100%;
}
.studio__img-top {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4/2;
}
.studio__img-about {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 5/6.5;
}

.home__logo {
  width: 100%;
  height: auto;
  fill: var(--primary-dark);
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 20px;
  left: 50%;
}
.home__logo-mobile {
  width: 200px;
  height: auto;
  fill: var(--primary-dark);
  padding: 2rem 0;
}
.home__img {
  border-radius: 1rem;
  width: 100%;
}
.home__img-case {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4/2;
}
.home__img-post {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  filter: brightness(90%);
}
.home__img-studio-left {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}
.home__img-studio-right {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 6/4;
}

#branding {
  z-index: 1;
}

#webdesign {
  z-index: 1;
}

#dev {
  z-index: 1;
}

.article > a > img {
  transition: filter var(--hover-duration) ease;
}

.article:hover > a > img {
  filter: brightness(0.7);
}

.article > a > svg {
  transition: opacity var(--hover-duration) ease;
  opacity: 0;
  width: 125px;
  height: 125px;
}

.article:hover > a > svg {
  opacity: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.pos-t--0 {
  top: 0;
}
.pos-t--1 {
  top: 5px;
}
.pos-t--2 {
  top: 10px;
}
.pos-t--3 {
  top: 15px;
}
.pos-t--4 {
  top: 20px;
}
.pos-t--5 {
  top: 25px;
}
.pos-t--6 {
  top: 30px;
}
.pos-t--7 {
  top: 35px;
}
.pos-t--8 {
  top: 40px;
}
.pos-t--9 {
  top: 45px;
}
.pos-t--10 {
  top: 50px;
}
.pos-t--11 {
  top: 55px;
}
.pos-t--12 {
  top: 60px;
}
.pos-t--13 {
  top: 65px;
}
.pos-t--14 {
  top: 70px;
}
.pos-t--15 {
  top: 75px;
}
.pos-t--16 {
  top: 80px;
}
.pos-t--17 {
  top: 85px;
}
.pos-t--18 {
  top: 90px;
}
.pos-t--19 {
  top: 95px;
}
.pos-t--20 {
  top: 100px;
}
.pos-b--0 {
  bottom: 0;
}
.pos-b--1 {
  bottom: 5px;
}
.pos-b--2 {
  bottom: 10px;
}
.pos-b--3 {
  bottom: 15px;
}
.pos-b--4 {
  bottom: 20px;
}
.pos-b--5 {
  bottom: 25px;
}
.pos-b--6 {
  bottom: 30px;
}
.pos-b--7 {
  bottom: 35px;
}
.pos-b--8 {
  bottom: 40px;
}
.pos-b--9 {
  bottom: 45px;
}
.pos-b--10 {
  bottom: 50px;
}
.pos-b--11 {
  bottom: 55px;
}
.pos-b--12 {
  bottom: 60px;
}
.pos-b--13 {
  bottom: 65px;
}
.pos-b--14 {
  bottom: 70px;
}
.pos-b--15 {
  bottom: 75px;
}
.pos-b--16 {
  bottom: 80px;
}
.pos-b--17 {
  bottom: 85px;
}
.pos-b--18 {
  bottom: 90px;
}
.pos-b--19 {
  bottom: 95px;
}
.pos-b--20 {
  bottom: 100px;
}
.pos-l--0 {
  left: 0;
}
.pos-l--1 {
  left: 5px;
}
.pos-l--2 {
  left: 10px;
}
.pos-l--3 {
  left: 15px;
}
.pos-l--4 {
  left: 20px;
}
.pos-l--5 {
  left: 25px;
}
.pos-l--6 {
  left: 30px;
}
.pos-l--7 {
  left: 35px;
}
.pos-l--8 {
  left: 40px;
}
.pos-l--9 {
  left: 45px;
}
.pos-l--10 {
  left: 50px;
}
.pos-l--11 {
  left: 55px;
}
.pos-l--12 {
  left: 60px;
}
.pos-l--13 {
  left: 65px;
}
.pos-l--14 {
  left: 70px;
}
.pos-l--15 {
  left: 75px;
}
.pos-l--16 {
  left: 80px;
}
.pos-l--17 {
  left: 85px;
}
.pos-l--18 {
  left: 90px;
}
.pos-l--19 {
  left: 95px;
}
.pos-l--20 {
  left: 100px;
}
.pos-r--0 {
  right: 0;
}
.pos-r--1 {
  right: 5px;
}
.pos-r--2 {
  right: 10px;
}
.pos-r--3 {
  right: 15px;
}
.pos-r--4 {
  right: 20px;
}
.pos-r--5 {
  right: 25px;
}
.pos-r--6 {
  right: 30px;
}
.pos-r--7 {
  right: 35px;
}
.pos-r--8 {
  right: 40px;
}
.pos-r--9 {
  right: 45px;
}
.pos-r--10 {
  right: 50px;
}
.pos-r--11 {
  right: 55px;
}
.pos-r--12 {
  right: 60px;
}
.pos-r--13 {
  right: 65px;
}
.pos-r--14 {
  right: 70px;
}
.pos-r--15 {
  right: 75px;
}
.pos-r--16 {
  right: 80px;
}
.pos-r--17 {
  right: 85px;
}
.pos-r--18 {
  right: 90px;
}
.pos-r--19 {
  right: 95px;
}
.pos-r--20 {
  right: 100px;
}

.pos-t-100 {
  top: 100%;
}

.pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--main-padding-v) var(--main-padding-h);
}
.container__top {
  height: calc(100vh - 115px);
  min-height: 600px;
}
.container__large {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container__scroll {
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container__scroll::-webkit-scrollbar {
  display: none;
}
.container__project {
  padding: 0.63rem;
}

@media screen and (max-width: 1080px) {
  .container__top {
    height: calc(100vh - 89px);
    min-height: 600px;
  }
}
.border {
  border: 1px solid var(--primary-dark);
}
.border--top {
  border-top: 1px solid;
}
.border--bottom {
  border-bottom: 1px solid;
}
.border--left {
  border-left: 1px solid;
}
.border--right {
  border-right: 1px solid;
}
.border-dark {
  border-color: var(--primary-dark);
}
.border-light {
  border-color: var(--primary-light);
}
.border-grey {
  border-color: var(--primary-grey);
}
.border-stroke-dark {
  border-color: var(--stroke-dark);
}
.border-stroke-light {
  border-color: var(--stroke-light);
}

.border-rounded {
  border-radius: 1rem;
}

.border-dashed {
  border-style: none none dashed none;
}

@media screen and (max-width: 1080px) {
  .border {
    border: 1px solid var(--primary-dark);
  }
  .border--top-mobile {
    border-top: 1px solid;
  }
  .border--bottom-mobile {
    border-bottom: 1px solid;
  }
  .border--left-mobile {
    border-left: 1px solid;
  }
  .border--right-mobile {
    border-right: 1px solid;
  }
}
.h-auto {
  height: auto;
}

.h-fit-content {
  height: fit-content;
}

.h--10 {
  height: 10vh;
}

.h--20 {
  height: 20vh;
}

.h--30 {
  height: 30vh;
}

.h--40 {
  height: 40vh;
}

.h--50 {
  height: 50vh;
}

.h--60 {
  height: 60vh;
}

.h--70 {
  height: 70vh;
}

.h--80 {
  height: 80vh;
}

.h--90 {
  height: 90vh;
}

.h--100 {
  height: 100vh;
}

@media screen and (max-width: 870px) {
  .h-50-mobile {
    height: 30vh;
  }
}
.w-auto {
  width: auto;
}

.w-fit-content {
  width: fit-content;
}

.w--10 {
  width: 10%;
}

.w--20 {
  width: 20%;
}

.w--30 {
  width: 30%;
}

.w--40 {
  width: 40%;
}

.w--50 {
  width: 50%;
}

.w--60 {
  width: 60%;
}

.w--70 {
  width: 70%;
}

.w--80 {
  width: 80%;
}

.w--90 {
  width: 90%;
}

.w--100 {
  width: 100%;
}

@media screen and (max-width: 870px) {
  .w-100-mobile {
    width: 100%;
  }
}
.gap--0 {
  gap: 0;
}
.gap--1 {
  gap: 5px;
}
.gap--2 {
  gap: 10px;
}
.gap--3 {
  gap: 15px;
}
.gap--4 {
  gap: 20px;
}
.gap--5 {
  gap: 25px;
}
.gap--6 {
  gap: 30px;
}
.gap--7 {
  gap: 35px;
}
.gap--8 {
  gap: 40px;
}
.gap--9 {
  gap: 45px;
}
.gap--10 {
  gap: 50px;
}
.gap--11 {
  gap: 55px;
}
.gap--12 {
  gap: 60px;
}
.gap--13 {
  gap: 65px;
}
.gap--14 {
  gap: 70px;
}
.gap--15 {
  gap: 75px;
}
.gap--16 {
  gap: 80px;
}
.gap--17 {
  gap: 85px;
}
.gap--18 {
  gap: 90px;
}
.gap--19 {
  gap: 95px;
}
.gap--20 {
  gap: 100px;
}

.grid-gap--0 {
  grid-gap: 0;
}
.grid-gap--1 {
  grid-gap: 5px;
}
.grid-gap--2 {
  grid-gap: 10px;
}
.grid-gap--3 {
  grid-gap: 15px;
}
.grid-gap--4 {
  grid-gap: 20px;
}
.grid-gap--5 {
  grid-gap: 25px;
}
.grid-gap--6 {
  grid-gap: 30px;
}
.grid-gap--7 {
  grid-gap: 35px;
}
.grid-gap--8 {
  grid-gap: 40px;
}
.grid-gap--9 {
  grid-gap: 45px;
}
.grid-gap--10 {
  grid-gap: 50px;
}
.grid-gap--11 {
  grid-gap: 55px;
}
.grid-gap--12 {
  grid-gap: 60px;
}
.grid-gap--13 {
  grid-gap: 65px;
}
.grid-gap--14 {
  grid-gap: 70px;
}
.grid-gap--15 {
  grid-gap: 75px;
}
.grid-gap--16 {
  grid-gap: 80px;
}
.grid-gap--17 {
  grid-gap: 85px;
}
.grid-gap--18 {
  grid-gap: 90px;
}
.grid-gap--19 {
  grid-gap: 95px;
}
.grid-gap--20 {
  grid-gap: 100px;
}

@media screen and (max-width: 1080px) {
  .gap-mobile {
    gap: 0.3rem;
  }
  .gap-small-mobile {
    gap: 1rem;
  }
  .gap-large-mobile {
    gap: 2rem;
  }
}
.p--0 {
  padding: 0;
}
.p--1 {
  padding: 5px;
}
.p--2 {
  padding: 10px;
}
.p--3 {
  padding: 15px;
}
.p--4 {
  padding: 20px;
}
.p--5 {
  padding: 25px;
}
.p--6 {
  padding: 30px;
}
.p--7 {
  padding: 35px;
}
.p--8 {
  padding: 40px;
}
.p--9 {
  padding: 45px;
}
.p--10 {
  padding: 50px;
}
.p--11 {
  padding: 55px;
}
.p--12 {
  padding: 60px;
}
.p--13 {
  padding: 65px;
}
.p--14 {
  padding: 70px;
}
.p--15 {
  padding: 75px;
}
.p--16 {
  padding: 80px;
}
.p--17 {
  padding: 85px;
}
.p--18 {
  padding: 90px;
}
.p--19 {
  padding: 95px;
}
.p--20 {
  padding: 100px;
}

.pt--0 {
  padding-top: 0;
}
.pt--1 {
  padding-top: 5px;
}
.pt--2 {
  padding-top: 10px;
}
.pt--3 {
  padding-top: 15px;
}
.pt--4 {
  padding-top: 20px;
}
.pt--5 {
  padding-top: 25px;
}
.pt--6 {
  padding-top: 30px;
}
.pt--7 {
  padding-top: 35px;
}
.pt--8 {
  padding-top: 40px;
}
.pt--9 {
  padding-top: 45px;
}
.pt--10 {
  padding-top: 50px;
}
.pt--11 {
  padding-top: 55px;
}
.pt--12 {
  padding-top: 60px;
}
.pt--13 {
  padding-top: 65px;
}
.pt--14 {
  padding-top: 70px;
}
.pt--15 {
  padding-top: 75px;
}
.pt--16 {
  padding-top: 80px;
}
.pt--17 {
  padding-top: 85px;
}
.pt--18 {
  padding-top: 90px;
}
.pt--19 {
  padding-top: 95px;
}
.pt--20 {
  padding-top: 100px;
}
.pb--0 {
  padding-bottom: 0;
}
.pb--1 {
  padding-bottom: 5px;
}
.pb--2 {
  padding-bottom: 10px;
}
.pb--3 {
  padding-bottom: 15px;
}
.pb--4 {
  padding-bottom: 20px;
}
.pb--5 {
  padding-bottom: 25px;
}
.pb--6 {
  padding-bottom: 30px;
}
.pb--7 {
  padding-bottom: 35px;
}
.pb--8 {
  padding-bottom: 40px;
}
.pb--9 {
  padding-bottom: 45px;
}
.pb--10 {
  padding-bottom: 50px;
}
.pb--11 {
  padding-bottom: 55px;
}
.pb--12 {
  padding-bottom: 60px;
}
.pb--13 {
  padding-bottom: 65px;
}
.pb--14 {
  padding-bottom: 70px;
}
.pb--15 {
  padding-bottom: 75px;
}
.pb--16 {
  padding-bottom: 80px;
}
.pb--17 {
  padding-bottom: 85px;
}
.pb--18 {
  padding-bottom: 90px;
}
.pb--19 {
  padding-bottom: 95px;
}
.pb--20 {
  padding-bottom: 100px;
}
.pl--0 {
  padding-left: 0;
}
.pl--1 {
  padding-left: 5px;
}
.pl--2 {
  padding-left: 10px;
}
.pl--3 {
  padding-left: 15px;
}
.pl--4 {
  padding-left: 20px;
}
.pl--5 {
  padding-left: 25px;
}
.pl--6 {
  padding-left: 30px;
}
.pl--7 {
  padding-left: 35px;
}
.pl--8 {
  padding-left: 40px;
}
.pl--9 {
  padding-left: 45px;
}
.pl--10 {
  padding-left: 50px;
}
.pl--11 {
  padding-left: 55px;
}
.pl--12 {
  padding-left: 60px;
}
.pl--13 {
  padding-left: 65px;
}
.pl--14 {
  padding-left: 70px;
}
.pl--15 {
  padding-left: 75px;
}
.pl--16 {
  padding-left: 80px;
}
.pl--17 {
  padding-left: 85px;
}
.pl--18 {
  padding-left: 90px;
}
.pl--19 {
  padding-left: 95px;
}
.pl--20 {
  padding-left: 100px;
}
.pr--0 {
  padding-right: 0;
}
.pr--1 {
  padding-right: 5px;
}
.pr--2 {
  padding-right: 10px;
}
.pr--3 {
  padding-right: 15px;
}
.pr--4 {
  padding-right: 20px;
}
.pr--5 {
  padding-right: 25px;
}
.pr--6 {
  padding-right: 30px;
}
.pr--7 {
  padding-right: 35px;
}
.pr--8 {
  padding-right: 40px;
}
.pr--9 {
  padding-right: 45px;
}
.pr--10 {
  padding-right: 50px;
}
.pr--11 {
  padding-right: 55px;
}
.pr--12 {
  padding-right: 60px;
}
.pr--13 {
  padding-right: 65px;
}
.pr--14 {
  padding-right: 70px;
}
.pr--15 {
  padding-right: 75px;
}
.pr--16 {
  padding-right: 80px;
}
.pr--17 {
  padding-right: 85px;
}
.pr--18 {
  padding-right: 90px;
}
.pr--19 {
  padding-right: 95px;
}
.pr--20 {
  padding-right: 100px;
}

.m--0 {
  margin: 0;
}
.m--1 {
  margin: 5px;
}
.m--2 {
  margin: 10px;
}
.m--3 {
  margin: 15px;
}
.m--4 {
  margin: 20px;
}
.m--5 {
  margin: 25px;
}
.m--6 {
  margin: 30px;
}
.m--7 {
  margin: 35px;
}
.m--8 {
  margin: 40px;
}
.m--9 {
  margin: 45px;
}
.m--10 {
  margin: 50px;
}
.m--11 {
  margin: 55px;
}
.m--12 {
  margin: 60px;
}
.m--13 {
  margin: 65px;
}
.m--14 {
  margin: 70px;
}
.m--15 {
  margin: 75px;
}
.m--16 {
  margin: 80px;
}
.m--17 {
  margin: 85px;
}
.m--18 {
  margin: 90px;
}
.m--19 {
  margin: 95px;
}
.m--20 {
  margin: 100px;
}

.mt--0 {
  margin-top: 0;
}
.mt--1 {
  margin-top: 5px;
}
.mt--2 {
  margin-top: 10px;
}
.mt--3 {
  margin-top: 15px;
}
.mt--4 {
  margin-top: 20px;
}
.mt--5 {
  margin-top: 25px;
}
.mt--6 {
  margin-top: 30px;
}
.mt--7 {
  margin-top: 35px;
}
.mt--8 {
  margin-top: 40px;
}
.mt--9 {
  margin-top: 45px;
}
.mt--10 {
  margin-top: 50px;
}
.mt--11 {
  margin-top: 55px;
}
.mt--12 {
  margin-top: 60px;
}
.mt--13 {
  margin-top: 65px;
}
.mt--14 {
  margin-top: 70px;
}
.mt--15 {
  margin-top: 75px;
}
.mt--16 {
  margin-top: 80px;
}
.mt--17 {
  margin-top: 85px;
}
.mt--18 {
  margin-top: 90px;
}
.mt--19 {
  margin-top: 95px;
}
.mt--20 {
  margin-top: 100px;
}
.mb--0 {
  margin-bottom: 0;
}
.mb--1 {
  margin-bottom: 5px;
}
.mb--2 {
  margin-bottom: 10px;
}
.mb--3 {
  margin-bottom: 15px;
}
.mb--4 {
  margin-bottom: 20px;
}
.mb--5 {
  margin-bottom: 25px;
}
.mb--6 {
  margin-bottom: 30px;
}
.mb--7 {
  margin-bottom: 35px;
}
.mb--8 {
  margin-bottom: 40px;
}
.mb--9 {
  margin-bottom: 45px;
}
.mb--10 {
  margin-bottom: 50px;
}
.mb--11 {
  margin-bottom: 55px;
}
.mb--12 {
  margin-bottom: 60px;
}
.mb--13 {
  margin-bottom: 65px;
}
.mb--14 {
  margin-bottom: 70px;
}
.mb--15 {
  margin-bottom: 75px;
}
.mb--16 {
  margin-bottom: 80px;
}
.mb--17 {
  margin-bottom: 85px;
}
.mb--18 {
  margin-bottom: 90px;
}
.mb--19 {
  margin-bottom: 95px;
}
.mb--20 {
  margin-bottom: 100px;
}
.ml--0 {
  margin-left: 0;
}
.ml--1 {
  margin-left: 5px;
}
.ml--2 {
  margin-left: 10px;
}
.ml--3 {
  margin-left: 15px;
}
.ml--4 {
  margin-left: 20px;
}
.ml--5 {
  margin-left: 25px;
}
.ml--6 {
  margin-left: 30px;
}
.ml--7 {
  margin-left: 35px;
}
.ml--8 {
  margin-left: 40px;
}
.ml--9 {
  margin-left: 45px;
}
.ml--10 {
  margin-left: 50px;
}
.ml--11 {
  margin-left: 55px;
}
.ml--12 {
  margin-left: 60px;
}
.ml--13 {
  margin-left: 65px;
}
.ml--14 {
  margin-left: 70px;
}
.ml--15 {
  margin-left: 75px;
}
.ml--16 {
  margin-left: 80px;
}
.ml--17 {
  margin-left: 85px;
}
.ml--18 {
  margin-left: 90px;
}
.ml--19 {
  margin-left: 95px;
}
.ml--20 {
  margin-left: 100px;
}
.mr--0 {
  margin-right: 0;
}
.mr--1 {
  margin-right: 5px;
}
.mr--2 {
  margin-right: 10px;
}
.mr--3 {
  margin-right: 15px;
}
.mr--4 {
  margin-right: 20px;
}
.mr--5 {
  margin-right: 25px;
}
.mr--6 {
  margin-right: 30px;
}
.mr--7 {
  margin-right: 35px;
}
.mr--8 {
  margin-right: 40px;
}
.mr--9 {
  margin-right: 45px;
}
.mr--10 {
  margin-right: 50px;
}
.mr--11 {
  margin-right: 55px;
}
.mr--12 {
  margin-right: 60px;
}
.mr--13 {
  margin-right: 65px;
}
.mr--14 {
  margin-right: 70px;
}
.mr--15 {
  margin-right: 75px;
}
.mr--16 {
  margin-right: 80px;
}
.mr--17 {
  margin-right: 85px;
}
.mr--18 {
  margin-right: 90px;
}
.mr--19 {
  margin-right: 95px;
}
.mr--20 {
  margin-right: 100px;
}

.mnt--20 {
  margin-top: -100px;
}
.mnt--19 {
  margin-top: -95px;
}
.mnt--18 {
  margin-top: -90px;
}
.mnt--17 {
  margin-top: -85px;
}
.mnt--16 {
  margin-top: -80px;
}
.mnt--15 {
  margin-top: -75px;
}
.mnt--14 {
  margin-top: -70px;
}
.mnt--13 {
  margin-top: -65px;
}
.mnt--12 {
  margin-top: -60px;
}
.mnt--11 {
  margin-top: -55px;
}
.mnt--10 {
  margin-top: -50px;
}
.mnt--9 {
  margin-top: -45px;
}
.mnt--8 {
  margin-top: -40px;
}
.mnt--7 {
  margin-top: -35px;
}
.mnt--6 {
  margin-top: -30px;
}
.mnt--5 {
  margin-top: -25px;
}
.mnt--4 {
  margin-top: -20px;
}
.mnt--3 {
  margin-top: -15px;
}
.mnt--2 {
  margin-top: -10px;
}
.mnt--1 {
  margin-top: -5px;
}
.mnb--20 {
  margin-bottom: -100px;
}
.mnb--19 {
  margin-bottom: -95px;
}
.mnb--18 {
  margin-bottom: -90px;
}
.mnb--17 {
  margin-bottom: -85px;
}
.mnb--16 {
  margin-bottom: -80px;
}
.mnb--15 {
  margin-bottom: -75px;
}
.mnb--14 {
  margin-bottom: -70px;
}
.mnb--13 {
  margin-bottom: -65px;
}
.mnb--12 {
  margin-bottom: -60px;
}
.mnb--11 {
  margin-bottom: -55px;
}
.mnb--10 {
  margin-bottom: -50px;
}
.mnb--9 {
  margin-bottom: -45px;
}
.mnb--8 {
  margin-bottom: -40px;
}
.mnb--7 {
  margin-bottom: -35px;
}
.mnb--6 {
  margin-bottom: -30px;
}
.mnb--5 {
  margin-bottom: -25px;
}
.mnb--4 {
  margin-bottom: -20px;
}
.mnb--3 {
  margin-bottom: -15px;
}
.mnb--2 {
  margin-bottom: -10px;
}
.mnb--1 {
  margin-bottom: -5px;
}
.mnl--20 {
  margin-left: -100px;
}
.mnl--19 {
  margin-left: -95px;
}
.mnl--18 {
  margin-left: -90px;
}
.mnl--17 {
  margin-left: -85px;
}
.mnl--16 {
  margin-left: -80px;
}
.mnl--15 {
  margin-left: -75px;
}
.mnl--14 {
  margin-left: -70px;
}
.mnl--13 {
  margin-left: -65px;
}
.mnl--12 {
  margin-left: -60px;
}
.mnl--11 {
  margin-left: -55px;
}
.mnl--10 {
  margin-left: -50px;
}
.mnl--9 {
  margin-left: -45px;
}
.mnl--8 {
  margin-left: -40px;
}
.mnl--7 {
  margin-left: -35px;
}
.mnl--6 {
  margin-left: -30px;
}
.mnl--5 {
  margin-left: -25px;
}
.mnl--4 {
  margin-left: -20px;
}
.mnl--3 {
  margin-left: -15px;
}
.mnl--2 {
  margin-left: -10px;
}
.mnl--1 {
  margin-left: -5px;
}
.mnr--20 {
  margin-right: -100px;
}
.mnr--19 {
  margin-right: -95px;
}
.mnr--18 {
  margin-right: -90px;
}
.mnr--17 {
  margin-right: -85px;
}
.mnr--16 {
  margin-right: -80px;
}
.mnr--15 {
  margin-right: -75px;
}
.mnr--14 {
  margin-right: -70px;
}
.mnr--13 {
  margin-right: -65px;
}
.mnr--12 {
  margin-right: -60px;
}
.mnr--11 {
  margin-right: -55px;
}
.mnr--10 {
  margin-right: -50px;
}
.mnr--9 {
  margin-right: -45px;
}
.mnr--8 {
  margin-right: -40px;
}
.mnr--7 {
  margin-right: -35px;
}
.mnr--6 {
  margin-right: -30px;
}
.mnr--5 {
  margin-right: -25px;
}
.mnr--4 {
  margin-right: -20px;
}
.mnr--3 {
  margin-right: -15px;
}
.mnr--2 {
  margin-right: -10px;
}
.mnr--1 {
  margin-right: -5px;
}

.grid {
  display: grid;
}
.grid--1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid--6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid--7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid--8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid--9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid--10 {
  grid-template-columns: repeat(10, 1fr);
}

@media screen and (max-width: 1080px) {
  .grid {
    display: grid;
  }
  .grid--1-mobile {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid--2-mobile {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--3-mobile {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--4-mobile {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid--5-mobile {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid--6-mobile {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid--7-mobile {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid--8-mobile {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid--9-mobile {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid--10-mobile {
    grid-template-columns: repeat(10, 1fr);
  }
}
.grid-prices > div {
  padding: 1rem 1.5rem;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.align--start {
  align-items: start;
}
.align--end {
  align-items: end;
}
.align--center {
  align-items: center;
}
.align--stretch {
  align-items: stretch;
}
.align--self-start {
  align-self: start;
}
.align--self-end {
  align-self: end;
}
.align--self-center {
  align-self: center;
}
.align--self-stretch {
  align-self: stretch;
}

.justify--start {
  justify-content: start;
}
.justify--end {
  justify-content: end;
}
.justify--center {
  justify-content: center;
}
.justify--space-between {
  justify-content: space-between;
}
.justify--space-around {
  justify-content: space-around;
}
.justify--space-evenly {
  justify-content: space-evenly;
}

@media screen and (max-width: 1080px) {
  .col-mobile {
    flex-direction: column;
  }
  .col-rev-mobile {
    flex-direction: column-reverse;
  }
  .row-mobile {
    flex-direction: row;
  }
  .row-rev-mobile {
    flex-direction: row-reverse;
  }
  .align--center-mobile {
    align-items: center;
  }
  .justify--start-mobile {
    justify-content: start;
  }
}
:root {
  --main-padding-h: 4.38rem;
  --main-padding-v: 6.25rem;
  --nav-padding-v: 2rem;
  --dropdown-padding-v: 7.81em;
  --max-width: 1440px;
  --hover-duration: .3s;
  --dropdown-duration: .8s;
  --dropdown-cubic: cubic-bezier(0.49, 0.17, 0, 0.87);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

main {
  position: relative;
  z-index: 3;
  background-color: var(--primary-light);
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: filter var(--dropdown-duration) var(--dropdown-cubic);
}

section {
  width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

p > a {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.favicon {
  width: 1.92325rem;
  height: 1.92325rem;
}

.logo-inline {
  width: 50.27931rem;
  height: 6.25rem;
  fill: var(--primary-dark);
}

.logo-square {
  width: 15.625rem;
  height: 15.625rem;
  fill: var(--primary-dark);
}

#cookies {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 1;
  max-width: 100%;
  transition: opacity var(--hover-duration) ease-in-out;
  z-index: 10;
}

.display-mobile {
  display: none;
}

.pointer {
  cursor: pointer;
}

.noise::before {
  content: "";
  background-image: url("../images/background/noise.gif");
  background-size: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.04;
  z-index: -1;
}

@media screen and (max-width: 1280px) {
  :root {
    --main-padding-h: 1.25rem;
    --main-padding-v: 4rem;
    --nav-padding-v: 2rem;
    --dropdown-padding-v: 7.81em;
  }
}
@media screen and (max-width: 1080px) {
  .hide-mobile {
    display: none;
  }
  .display-mobile {
    display: block;
  }
  :root {
    --main-padding-h: 1.25rem;
    --main-padding-v: 4rem;
    --nav-padding-v: 2rem;
    --dropdown-padding-v: 7.81em;
  }
}

/*# sourceMappingURL=app.css.map */
