.faq {
    &__icon {
        fill: var(--primary-grey);
    }
    &__answer {
        max-height: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 834px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}