.home {
    &__logo {
        width: 100%;
        height: auto;
        fill: var(--primary-dark);
        position: absolute;
        transform: translate(-50%, 0);
        bottom: 20px;
        left: 50%;
        &-mobile {
            width: 100%;
            height: auto;
            fill: var(--primary-dark);
            padding: 2rem 0;
        }
    }
    &__img {
        border-radius: 1rem;
        width: 100%;
        &-case {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 4/2;
        }
        &-post {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1/1;
            filter: brightness(90%);
        }
        &-studio-left {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1/1;
        }
        &-studio-right {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 6/4;
        }
    }
}

#branding {
    z-index: 1;
}
#webdesign {
    z-index: 1;
}
#dev {
    z-index: 1;
}

.article > a > img {
    transition: filter var(--hover-duration) ease;
}
.article:hover > a > img {
    filter: brightness(0.7);
}
.article > a > svg {
    transition: opacity var(--hover-duration) ease;
    opacity: 0;
    width: 125px;
    height: 125px;
}
.article:hover > a > svg {
    opacity: 1;
}