<!DOCTYPE html>
<html lang="fr">

<table width="60%" border="0" cellspacing="0" cellpadding="0" role="presentation" style="padding: 30px; border-radius: 30px; background-color: #D3E0D3; font-family: Arial, sans-serif">
    <tr>
        <td>
            <h2>Inscription enregistrée</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h4>{{ user.firstname }} {{ user.lastname }}</h4>
            <p>Votre compte a bien été enregistré</p>
        </td>
    </tr>
</table>

</html>