{% extends 'base.html.twig' %}

{% block title %}UI Design System - {{ parent() }}{% endblock %}

{% block body %}

    <main class="container flex col align--center justify--center gap--10">
        <section class="flex col gap--10 w--100">
            <div class="flex col gap--10 border p--10">
                <h2 class="border--bottom pb--3">Logo</h2>
                <div class="flex col gap--2">
                    <img class="favicon" src="{{ asset('build/images/logos/favicon.svg') }}" alt="">
                    <p class="text__s">.favicon</p>
                </div>
                <div class="flex col gap--2">
                    <svg class="logo-inline" viewBox="0 0 805 100" xmlns="http://www.w3.org/2000/svg">
                    <path d="M44.5839 43.1077L32.057 41.6177C20.8225 40.1252 15.209 35.7012 15.209 28.3382C15.209 23.5652 17.149 19.7608 21.0228 16.9248C24.8978 14.0914 30.0175 12.6734 36.3805 12.6734C43.1391 12.6734 48.3582 14.1162 52.0367 16.9993C55.7139 19.8849 58.0471 24.3611 59.0435 30.4266H73.6541C72.7572 21.0782 69.0051 13.7164 62.3964 8.34743C58.412 5.11167 53.6093 2.97105 48.1666 1.68469C44.5753 0.835394 40.758 0.289062 36.5304 0.289062C32.0459 0.289062 28.0468 0.830427 24.3265 1.68469C18.8899 2.93256 14.1659 4.97881 10.3597 8.04944C3.94753 13.2222 0.744538 20.2338 0.744538 29.0856C0.744538 36.9441 3.2288 43.1599 8.19731 47.7341C13.167 52.3097 20.3716 55.1431 29.8184 56.2358L42.9413 57.7283C54.9657 59.1239 60.981 63.8447 60.981 71.903C60.981 76.676 59.0656 80.4568 55.2372 83.2406C51.4089 86.0257 46.3691 87.4163 40.1044 87.4163C32.5509 87.4163 26.7359 85.9499 22.6605 83.0171C18.5828 80.0843 15.999 75.5821 14.9092 69.5141H0C0.996405 78.6651 4.99677 85.9984 12.006 91.5188C19.0128 97.0392 28.3318 99.7994 39.9606 99.7994C47.1149 99.7994 53.3525 98.6298 58.6737 96.293C63.985 93.9574 68.1143 90.6745 71.0458 86.4466C73.976 82.2188 75.4467 77.2707 75.4467 71.6026C75.4467 54.9954 65.1558 45.4954 44.5839 43.1077Z"/>
                    <path d="M113.763 2.79785H99.4522V22.385H86.3281V34.5918H99.4522V76.9324C99.4522 84.2657 101.411 89.5663 105.336 92.8294C109.263 96.0949 114.012 97.7252 119.577 97.7252H126.881V84.9188H121.216C119.028 84.9188 117.238 84.2396 115.848 82.8824C114.457 81.5278 113.762 78.8905 113.762 74.9718V34.5918H126.88V22.385H113.763V2.79785Z"/>
                    <path d="M189.054 67.5216C189.054 73.0569 187.316 77.5604 183.835 81.0321C180.354 84.5038 176.08 86.2396 171.013 86.2396C165.644 86.2396 161.398 84.7086 158.266 81.6368C155.133 78.5674 153.569 73.5598 153.569 66.6164V22.3848H139.107V69.6349C139.107 79.3981 141.645 86.8679 146.711 92.0518C151.779 97.2358 158.19 99.8246 165.945 99.8246C170.22 99.8246 174.464 98.6401 178.692 96.2772C182.915 93.9131 186.372 90.568 189.054 86.2384V97.8628H203.37V22.3848H189.054V67.5216Z"/>
                    <path d="M318.175 0.21582H303.708V12.5157H318.175V0.21582Z"/>
                    <path d="M318.175 22.3721H303.708V97.7408H318.175V22.3721Z"/>
                    <path d="M520.895 0.340948L520.94 0.290039H502.603L502.56 0.340948L461.749 49.0066V0.340948V0.290039H447.438V0.340948V97.7243H461.749V66.9957L470.697 56.0518L505.881 97.7243H523.326L480.688 47.3576L520.895 0.340948Z"/>
                    <path d="M572.826 19.8251C568.355 19.8251 563.959 21.0158 559.633 23.3936C555.307 25.7739 551.808 29.1388 549.121 33.492V0.290039H534.659V97.7243H549.121V51.7134C549.121 46.4512 550.911 42.098 554.49 38.6536C558.069 35.2142 562.49 33.492 567.759 33.492C573.325 33.492 577.726 35.0081 580.953 38.0464C584.185 41.0835 585.8 45.9446 585.8 52.6248V97.7256H600.262V49.5864C600.262 39.971 597.678 32.6067 592.512 27.4923C587.34 22.3817 580.778 19.8251 572.826 19.8251Z"/>
                    <path d="M274.04 35.316C271.452 30.4351 268.023 26.6492 263.75 23.9536C259.474 21.2604 254.605 19.9132 249.138 19.9132C242.777 19.9132 237.184 21.5659 232.365 24.8687C227.546 28.174 223.793 32.7979 221.111 38.7455C218.425 44.693 217.086 51.6861 217.086 59.7159C217.086 67.7482 218.425 74.7648 221.111 80.7608C223.793 86.7617 227.546 91.4378 232.365 94.7915C237.184 98.1478 242.777 99.824 249.138 99.824C254.605 99.824 259.474 98.452 263.75 95.7066C268.023 92.9613 271.452 89.1494 274.04 84.2697L274.037 97.6772H288.499V0.290039H274.037L274.04 35.316ZM268.521 79.6185C264.843 84.3455 259.624 86.7096 252.864 86.7096C246.304 86.7096 241.184 84.3455 237.507 79.6185C233.829 74.8915 231.993 68.256 231.993 59.7171C231.993 51.2788 233.829 44.7204 237.507 40.0443C241.184 35.3694 246.305 33.0301 252.864 33.0301C259.623 33.0301 264.842 35.3694 268.521 40.0443C272.198 44.7216 274.038 51.2788 274.038 59.7171C274.04 68.256 272.199 74.8902 268.521 79.6185Z"/>
                    <path d="M386.68 24.7602C381.264 21.445 374.978 19.7861 367.82 19.7861C360.663 19.7861 354.373 21.445 348.958 24.7602C343.537 28.0779 339.344 32.7193 336.362 38.6904C333.38 44.6603 331.89 51.6794 331.89 59.7403C331.89 67.8036 333.379 74.8463 336.362 80.8646C339.345 86.8879 343.538 91.5826 348.958 94.9488C354.373 98.3174 360.663 99.9999 367.82 99.9999C374.978 99.9999 381.264 98.3174 386.68 94.9488C392.1 91.5826 396.299 86.8879 399.28 80.8646C402.263 74.8463 403.752 67.8036 403.752 59.7403C403.752 51.6794 402.263 44.6603 399.28 38.6904C396.299 32.7193 392.1 28.0779 386.68 24.7602ZM383.326 79.7161C379.65 84.4617 374.477 86.8345 367.822 86.8345C361.163 86.8345 355.99 84.4617 352.313 79.7161C348.636 74.9705 346.799 68.3115 346.799 59.739C346.799 51.2684 348.636 44.6864 352.313 39.9917C355.99 35.2994 361.163 32.9515 367.822 32.9515C374.477 32.9515 379.65 35.2994 383.326 39.9917C387.003 44.6864 388.844 51.2684 388.844 59.739C388.844 68.3115 387.003 74.9705 383.326 79.7161Z"/>
                    <path d="M630.087 0.078125H615.62V12.378H630.087V0.078125Z"/>
                    <path d="M630.087 22.2324H615.62V97.6012H630.087V22.2324Z"/>
                    <path d="M762.685 65.2902L804.448 23.0837L781.625 0.0186241L739.864 42.2239V0H707.588V65.8328C707.588 71.6028 709.856 77.1369 713.893 81.217L724.103 91.5364C728.14 95.6178 733.617 97.9099 739.328 97.9099L804.469 97.9086V65.2902H762.685Z"/>
                </svg>
                    <p class="text__s">.logo-inline</p>
                </div>
                <div class="flex col gap--2">
                    <svg class="logo-square" viewBox="0 0 169 219" xmlns="http://www.w3.org/2000/svg">
                    <path d="M95.7788 112.616L168.33 39.8167L128.682 0.0330733L56.1339 72.8301L56.1335 0.00044073L0.0625 0V113.55C0.0625 123.502 4.00238 133.048 11.0155 140.085L28.753 157.886C35.7675 164.925 45.2812 168.879 55.2014 168.879L168.367 168.878L168.367 112.616L95.7788 112.616Z"/>
                    <path d="M11.9176 203.055L8.56928 202.659C5.56592 202.263 4.06556 201.089 4.06556 199.135C4.06556 197.868 4.58414 196.859 5.61998 196.106C6.65582 195.354 8.02433 194.977 9.72553 194.977C11.5322 194.977 12.9275 195.36 13.9106 196.126C14.8937 196.892 15.5173 198.08 15.7837 199.689H19.6893C19.4497 197.208 18.4464 195.254 16.6802 193.829C15.6153 192.97 14.3312 192.402 12.8761 192.061C11.9163 191.836 10.8958 191.69 9.76552 191.69C8.56708 191.69 7.49784 191.834 6.50332 192.061C5.04998 192.392 3.78738 192.935 2.77 193.75C1.05605 195.123 0.199961 196.983 0.199961 199.333C0.199961 201.418 0.864003 203.068 2.19209 204.282C3.52062 205.497 5.44639 206.249 7.9716 206.539L11.4795 206.935C14.6938 207.305 16.3018 208.558 16.3018 210.697C16.3018 211.963 15.7898 212.967 14.7667 213.706C13.7432 214.445 12.3962 214.814 10.7214 214.814C8.70244 214.814 7.14759 214.425 6.05813 213.646C4.96824 212.868 4.27739 211.673 3.98646 210.063H0C0.26632 212.492 1.336 214.438 3.20947 215.903C5.0825 217.368 7.57343 218.101 10.6823 218.101C12.5948 218.101 14.2622 217.79 15.6843 217.17C17.1043 216.55 18.2078 215.679 18.9914 214.557C19.775 213.435 20.1678 212.122 20.1678 210.617C20.1678 206.21 17.4167 203.688 11.9176 203.055Z"/>
                    <path d="M30.4101 192.355H26.5845V197.554H23.0762V200.794H26.5845V212.032C26.5845 213.978 27.1079 215.385 28.1574 216.251C29.2073 217.118 30.4765 217.55 31.9641 217.55H33.9166V214.151H32.4022C31.8173 214.151 31.3387 213.972 30.9673 213.611C30.5955 213.251 30.4097 212.551 30.4097 211.511V200.794H33.9162V197.554H30.4097L30.4101 192.355Z"/>
                    <path d="M50.5367 209.534C50.5367 211.003 50.0718 212.198 49.1414 213.12C48.211 214.041 47.0684 214.502 45.714 214.502C44.2791 214.502 43.1439 214.095 42.3067 213.28C41.4691 212.465 41.0511 211.136 41.0511 209.293V197.554H37.1855V210.095C37.1855 212.686 37.8637 214.668 39.2181 216.044C40.573 217.42 42.2865 218.107 44.3595 218.107C45.5021 218.107 46.6368 217.793 47.7667 217.166C48.8953 216.538 49.8195 215.65 50.5367 214.501V217.586H54.3637V197.554H50.5367V209.534Z"/>
                    <path d="M85.0529 191.67H81.1855V194.934H85.0529V191.67Z"/>
                    <path d="M85.0529 197.551H81.1855V217.554H85.0529V197.551Z"/>
                    <path d="M139.241 191.704L139.253 191.69H134.352L134.34 191.704L123.431 204.62V191.704V191.69H119.605V191.704V217.55H123.431V209.395L125.823 206.49L135.228 217.55H139.891L128.493 204.183L139.241 191.704Z"/>
                    <path d="M153.123 196.875C151.928 196.875 150.753 197.191 149.596 197.822C148.44 198.454 147.505 199.347 146.786 200.502V191.69H142.921V217.55H146.786V205.338C146.786 203.942 147.265 202.786 148.221 201.872C149.178 200.959 150.359 200.502 151.768 200.502C153.256 200.502 154.432 200.905 155.295 201.711C156.159 202.517 156.591 203.807 156.591 205.58V217.55H160.456V204.774C160.456 202.222 159.765 200.267 158.385 198.91C157.003 197.553 155.249 196.875 153.123 196.875Z"/>
                    <path d="M73.2535 200.986C72.5618 199.691 71.645 198.686 70.5029 197.971C69.3598 197.256 68.0581 196.898 66.5968 196.898C64.8965 196.898 63.4014 197.337 62.1133 198.214C60.8252 199.091 59.8219 200.318 59.1051 201.897C58.387 203.475 58.0293 205.331 58.0293 207.462C58.0293 209.594 58.387 211.457 59.1051 213.048C59.8223 214.64 60.8252 215.881 62.1133 216.772C63.4014 217.662 64.8969 218.107 66.5968 218.107C68.0585 218.107 69.3598 217.743 70.5029 217.015C71.645 216.286 72.5618 215.274 73.2535 213.979L73.2531 217.538H77.1187V191.69H73.2531L73.2535 200.986ZM71.7782 212.744C70.7951 213.999 69.3998 214.626 67.5931 214.626C65.8396 214.626 64.4706 213.999 63.4875 212.744C62.5044 211.49 62.0136 209.729 62.0136 207.462C62.0136 205.223 62.5044 203.482 63.4875 202.241C64.4706 201 65.8392 200.379 67.5931 200.379C69.3998 200.379 70.7951 201 71.7782 202.241C72.7613 203.482 73.2531 205.223 73.2531 207.462C73.2535 209.729 72.7613 211.49 71.7782 212.744Z"/>
                    <path d="M103.364 198.185C101.916 197.304 100.236 196.864 98.3225 196.864C96.409 196.864 94.728 197.304 93.2804 198.185C91.8314 199.065 90.7103 200.297 89.9131 201.882C89.1159 203.466 88.7178 205.329 88.7178 207.468C88.7178 209.608 89.1159 211.478 89.9131 213.075C90.7103 214.673 91.8314 215.92 93.2804 216.813C94.728 217.707 96.409 218.154 98.3225 218.154C100.236 218.154 101.916 217.707 103.364 216.813C104.813 215.92 105.935 214.674 106.732 213.075C107.529 211.478 107.928 209.608 107.928 207.468C107.928 205.329 107.529 203.466 106.732 201.882C105.935 200.297 104.813 199.065 103.364 198.185ZM102.467 212.77C101.484 214.03 100.102 214.659 98.3229 214.659C96.543 214.659 95.1604 214.03 94.1773 212.77C93.1942 211.511 92.7034 209.743 92.7034 207.468C92.7034 205.22 93.1942 203.473 94.1773 202.227C95.1604 200.982 96.543 200.359 98.3229 200.359C100.102 200.359 101.484 200.982 102.467 202.227C103.45 203.473 103.942 205.22 103.942 207.468C103.942 209.743 103.45 211.511 102.467 212.77Z"/>
                    <path d="M168.43 191.634H164.562V194.898H168.43V191.634Z"/>
                    <path d="M168.43 197.514H164.562V217.517H168.43V197.514Z"/>
                </svg>
                    <p class="text__s">.logo-square</p>
                </div>
            </div>
            <div class="flex col gap--4 border p--10 primary-light">
                <h2 class="primary-dark border--bottom pb--3 mb--6">Colors</h2>
                <p class="p--4 primary-light--bg primary-dark border">primary-light</p>
                <p class="p--4 primary-dark--bg">primary-dark</p>
                <p class="p--4 primary-grey--bg">primary-grey</p>
                <p class="p--4 secondary-green--bg">secondary-green</p>
                <p class="p--4 secondary-blue--bg">secondary-blue</p>
                <p class="p--4 secondary-violet--bg">secondary-violet</p>
                <p class="p--4 secondary-beige--bg">secondary-beige</p>
                <p class="p--4 stroke-light--bg">stroke-light</p>
                <p class="p--4 stroke-dark--bg">stroke-dark</p>
            </div>
            <div class="flex col gap--4 border p--10">
                <h2 class="primary-dark border--bottom pb--3 mb--6">Typographies</h2>
                <div class="flex row gap--4">
                    <div class="p--4 border text__s w-fit-content primary-light primary-dark--bg">
                        Inter
                    </div>
                    <div class="p--4 border text__s w-fit-content overused-grotesk primary-light primary-dark--bg">
                        Overused Grotesk
                    </div>
                </div>
                <div class="flex row gap--4">
                    <div>
                        <div class="h1">Headline 1</div>
                        <div class="h2">Headline 2</div>
                        <div class="h3 mb--6">Headline 3</div>
                        <div class="text__l">Text body L</div>
                        <div class="text__m">Text body M</div>
                        <div class="text__s">Text body S</div>
                    </div>
                </div>
            </div>
            <div class="flex col gap--4 border p--10">
                <h2 class="primary-dark border--bottom pb--3 mb--6">Buttons</h2>
                <div class="flex row gap--4">
                    <div class="p--4 border w-fit-content">
                        <button-react data-content="Main button" data-href="#"></button-react>
                    </div>
                    <div class="p--4 border w-fit-content">
                        <button-react data-content="Main button" data-color="light" data-href="#"></button-react>
                    </div>
                    <div class="p--4 border w-fit-content primary-dark--bg">
                        <button-react data-content="Main button" data-color="dark" data-href="#"></button-react>
                    </div>
                </div>
                <div class="flex row gap--4">
                    <div class="p--4 border w-fit-content">
                        <link-react data-content="Secondary button" data-href="#">Hello</link-react>
                    </div>
                    <div class="p--4 border w-fit-content primary-dark--bg">
                        <link-react data-content="Secondary button" data-color="light" data-href="#"></link-react>
                    </div>
                </div>
                <div class="flex row gap--4">
                    <div class="p--4 border w-fit-content">
                        <link-react data-content="Secondary button" data-href="#" data-border="1"></link-react>
                    </div>
                    <div class="p--4 border w-fit-content primary-dark--bg">
                        <link-react data-content="Secondary button" data-color="light" data-href="#" data-border="1"></link-react>
                    </div>
                </div>
                <div class="flex row gap--4">
                    <div class="p--4 border w-fit-content">
                        <link-react data-content="Secondary button" data-href="#" data-border="1" data-icon="1"></link-react>
                    </div>
                    <div class="p--4 border w-fit-content primary-dark--bg">
                        <link-react data-content="Secondary button" data-color="light" data-href="#" data-border="1" data-icon="1"></link-react>
                    </div>
                </div>
                <div class="flex row gap--4">
                    <div class="p--4 border w-fit-content">
                        <menu-item-react data-content="Menu" data-href="#"></menu-item-react>
                    </div>
                    <div class="p--4 border w-fit-content primary-dark--bg">
                        <menu-item-react data-content="Menu" data-color="light" data-href="#"></menu-item-react>
                    </div>
                </div>
                <h2 class="primary-dark border--bottom pb--3 mt--6 mb--6">Tags & Filter</h2>
                <div class="flex row gap--4">
                    <tag-react data-content="Green Tag" data-color="green"></tag-react>
                    <tag-react data-content="Blue Tag" data-color="blue"></tag-react>
                    <tag-react data-content="Violet Tag" data-color="violet"></tag-react>
                    <tag-react data-content="Beige Tag" data-color="beige"></tag-react>
                </div>
                <div class="flex row gap--4">
                    <filter-react data-content="Filter 1"></filter-react>
                    <filter-react data-content="Filter 2"></filter-react>
                    <filter-react data-content="Filter 3"></filter-react>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
