{% extends 'base.html.twig' %}

{% block title %}
    500 - {{ parent() }}
{% endblock %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="container__large">
        <div class="container">
            <h1>Erreur 500</h1>
            <p>Merci de contacter l'administrateur du site</p>
        </div>
    </section>

{% endblock %}


