{% extends 'base.html.twig' %}

{% block title %}
    404 - {{ parent() }}
{% endblock %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="container__large">
        <div class="container flex col gap--11 justify--center">
            <h1>Oups, on s'est trompé de chemin</h1>
            <link-react data-icon="1" data-content="Retourner sur le site" data-href="{{ path('app_index') }}"></link-react>
        </div>
    </section>

{% endblock %}


