{% extends 'base.html.twig' %}

{% block title %}
    404 - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="404">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}

{% block body %}

    <section class="container__large">
        <div class="container flex col gap--11 justify--center">
            <h1>Oups, on s'est trompé de chemin</h1>
            <link-react data-icon="1" data-content="Retourner sur le site" data-href="{{ path('app_index') }}"></link-react>
        </div>
    </section>

{% endblock %}