{% extends 'base.html.twig' %}

{% block title %}
    500 - {{ parent() }}
{% endblock %}

{% block meta %}
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:locale" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="og:site_name" content="" />
{% endblock %}

{% block body %}

    <section class="container__large">
        <div class="container">
            <h1>Erreur 500</h1>
            <p>Merci de contacter l'administrateur du site</p>
        </div>
    </section>

{% endblock %}


